

{% extends 'base.html.twig' %}


{% block title %}Log in!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>

    {% else %}

    <div class="flex justify-center h-5/6 items-center mt-20 mb-20" >
		<form class="p-10 bg-white rounded flex justify-center items-center flex-col shadow-md" method="post">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 text-gray-600 mb-2" viewbox="0 0 20 20" fill="currentColor">
  			<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
			</svg>
			<p class="mb-5 text-3xl uppercase text-gray-600">Connection</p>
			<input type="email" placeholder="Adresse mail" value="{{ last_username }}" name="email" id="inputEmail" class="mb-5 p-3 w-80 focus:border-green-500 rounded border-2 outline-none form-control" autocomplete="email" required autofocus>
			<input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control p-3 w-80 focus:border-green-500 rounded border-2 outline-none" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
            >
            <p class="text-xs  mb-5"><a href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a></p>
			<button class="bg-green-400 hover:bg-green-600 text-white font-bold p-2 rounded w-80" type="submit"><span>Login</span></button>
		</form>
        <br>
        
	</div>
    
    

    <!-- <form method="post">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    
    <label for="inputPassword">Password</label>
    

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>

    </form> -->

    <!-- <p><a href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a></p> -->
        
    {% endif %}



    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    

{% endblock %}
