{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}



    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-gray-50 overflow-hidden shadow-sm sm:rounded-lg">
                <div class="p-6 bg-green-50 border-b border-gray-200">
                    <h1 class="text-center font-bold text-xl uppercase text-gray-600 mb-6">S'enregistrer : </h1>
                    {{ form_start(registrationForm) }}
                    <div class="mb-4">
                        <label class="text-xl text-gray-600 ">Votre mail <span class="text-red-500">*</span></label></br>
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Votre nom <span class="text-red-500">*</span></label></br>
                        {{ form_row(registrationForm.name) }}
                    </div>
                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Votre prénom <span class="text-red-500">*</span></label></br>
                        {{ form_row(registrationForm.firstname) }}
                    </div>
                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Votre mot de passe <span class="text-red-500">*</span></label></br>
                        {{ form_row(registrationForm.plainPassword) }}
                    </div>
                    
                      {{ form_row(registrationForm.agreeTerms) }}
                      <button type="submit" class="w-auto bg-green-500 hover:bg-green-700 rounded-lg shadow-xl font-medium text-white px-4 py-2 mt-4">Valider</button>

                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>



    
{% endblock %}
