{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="">
        <div class='flex  md:w-3/4 lg:w-3/5 my-10 bg-white shadow-md rounded-lg overflow-hidden mx-auto'>
            {% for message in app.flashes('message') %}
            <div class="col-xs4">
                <div class="p-3 my-2 rounded-2 success">{{message}}</div>
            </div>   
            {% endfor %}
            <div class='flex-col items-center w-full'>
                <div class='w-full'>
                    <div class="flex flex-row flex-wrap mt-2 px-2 py-3 mx-3 items-center">
                        <div class="w-1/6 h-auto rounded-full">
                            <img class="w-16 lg:w-20 h-16 lg:h-20 object-cover rounded-full shadow cursor-pointer mx-auto" alt="Profile-user" src="{{asset('logo/main.png')}}">
                        </div>
                        <div class="w-4/6 flex flex-col mb-2 ml-4 mt-1">
                            <div class='text-gray-600 text-xl font-bold uppercase ml-12 '>S'enregistrer</div>
                            
                        </div>
                    </div>
                    <div class="border-b border-gray-100"></div>   
                    <div class='text-gray-400 font-medium text-sm mb-7 mt-6 mx-3 px-2'>
                        <img class=" mx-auto w-32 " alt="user" src="{{asset('galerie/profile-user.png')}}">
                        <p class="text-center text-xl mt-2">Entrer vos informations </p>                                   
                    </div>               
                </div>
                <div class='text-gray-600 my-10 mx-3 px-2'>
                    <div class="p-6 bg-gray-50 border-b border-gray-200" id="add-bivouac">
                        
                        {{ form_start(registrationForm) }}
                        <div class="mb-4">
                            <label class="text-xl text-gray-600 ">Votre mail <span class="text-red-500">*</span></label></br>
                            {{ form_row(registrationForm.email) }}
                        </div>
                        <div class="mb-4">
                            <label class="text-xl text-gray-600">Votre nom <span class="text-red-500">*</span></label></br>
                            {{ form_row(registrationForm.name) }}
                        </div>
                        <div class="mb-4">
                            <label class="text-xl text-gray-600">Votre prénom <span class="text-red-500">*</span></label></br>
                            {{ form_row(registrationForm.firstname) }}
                        </div>
                        <div class="mb-4">
                            <label class="text-xl text-gray-600">Votre mot de passe <span class="text-red-500">*</span></label></br>
                            {{ form_row(registrationForm.plainPassword) }}
                        </div>
                        
                          {{ form_row(registrationForm.agreeTerms) }}
                          <button type="submit" class="w-auto bg-green-500 hover:bg-green-700 rounded-lg shadow-xl font-medium text-white px-4 py-2 mt-4">Valider</button>
    
                          
                        {{ form_end(registrationForm) }}
                    </div>             
                </div>         
            </div>
        </div>
      </div>
    
{% endblock %}
