{% extends 'base.html.twig' %}
{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
{% endblock %}
{% block body %}

<section class="text-gray-600 body-font">
	{{form(form)}}
	
	<div class="container px-5 py-12 mx-auto">
		<div class="container px-5 pb-12 mx-auto flex flex-wrap">
			<div class="flex w-full mb-20 flex-wrap">
			  <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4">Trouvez et partagez vos meilleurs spots de bivouac à la Réunion</h1>
			  <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom. Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom. Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom. Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom. Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom. Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p>
			</div>
			<div class="flex flex-wrap md:-m-2 -m-1">
			  <div class="flex flex-wrap w-1/2">
				<div class="md:p-2 p-1 w-1/2">
				  <img alt="gallery" class="w-full object-cover h-full object-center block" src="galerie/1.jpg">
				</div>
				<div class="md:p-2 p-1 w-1/2">
				  <img alt="gallery" class="w-full object-cover h-full object-center block" src="galerie/3.jpg">
				</div>
				<div class="md:p-2 p-1 w-full">
				  <img alt="gallery" class="w-full h-full object-cover object-center block" src="galerie/6.jpg">
				</div>
			  </div>
			  <div class="flex flex-wrap w-1/2">
				<div class="md:p-2 p-1 w-full">
				  <img alt="gallery" class="w-full h-full object-cover object-center block" src="galerie/5.jpg">
				</div>
				<div class="md:p-2 p-1 w-1/2">
				  <img alt="gallery" class="w-full object-cover h-full object-center block" src="galerie/2.jpg">
				</div>
				<div class="md:p-2 p-1 w-1/2">
				  <img alt="gallery" class="w-full object-cover h-full object-center block" src="galerie/4.jpg">
				</div>
			  </div>
			</div>
		  </div>
		  
	  

	  <div class="flex flex-wrap -m-4">
		
	{% for bivouac in bivouacs %}
		<div class=" sm:w-full xl:w-1/4 md:w-1/2 p-4">
		  <div class="bg-gray-100 p-6  rounded-lg">
			
			<img class="h-40 rounded w-full object-cover object-center mb-6" src="{{asset('uploads/' ~ bivouac.images[0].name )|imagine_filter('square')}}" alt="{{bivouac.title}}">
			<h3 class="tracking-widest text-green-500 text-xs font-medium title-font">{{bivouac.categories.name}}</h3>
			
			
			{% for tag in bivouac.tags %} 
				<a class="inline-flex items-center h-5 px-2 m-1 text-xs text-black transition-colors duration-150 bg-gray-300 rounded-lg focus:shadow-outline hover:bg-gray-600" href="#">{{tag.name}}</a>
             
          	{% endfor %}
			{% for region in bivouac.regions %}
				<a class="inline-flex items-center h-8 px-2 m-1 text-xs text-white transition-colors duration-150 bg-green-500 rounded-lg focus:shadow-outline hover:bg-green-600" href="#">{{region.name}}</a>
          	{% endfor %}
			
			
			





			<h2 class="text-lg text-gray-900 font-medium title-font mb-4"><a href="{{path('bivouacs_details', {slug : bivouac.slug})}}">{{bivouac.title}}</a></h2>
			{# Attention la description est en html, on met le filtre striptags pour y remedier et si l'annonce est trop longue on limite le nombre de caractere on parametre avec twig string extra #}
			<p class="leading-relaxed text-base h-24">{{bivouac.content|striptags|u.truncate(80, '...')}}</p>
			<div class="text-green-600">		
				{% if is_granted("ROLE_USER") %}
					{% for favoris in bivouac.favoris %}
						{% if favoris.id == app.user.id %}
						<a href="{{path('bivouacs_retrait_favoris', {id: bivouac.id})}}">
							<i class="fas fa-heart"></i>
						</a>
						{% else %}
						<a href="{{path('bivouacs_ajout_favoris', {id: bivouac.id})}}">
							<i class="far fa-heart"></i>
						</a>	
						{% endif %}
					{% else %}
						<a href="{{path('bivouacs_ajout_favoris', {id: bivouac.id})}}">
							<i class="far fa-heart"></i>
						</a>
					{% endfor %}
				{% else %}
					<i class="far fa-heart"></i>	
				{% endif %}
				<a class="float-right" href="{{path('bivouacs_details', {slug : bivouac.slug})}}">Lire plus...</a>
			</div>
			
		  </div>
		</div>
	{% endfor %}
		
	  </div>
	</div>
  </section>
	
{% endblock %}
