{% extends 'base.html.twig' %}
{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>
<link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ asset('css/Control.FullScreen.css') }}" />

{% endblock %}
{% block body %}

<section class="text-gray-600 body-font">
	<div class="container mx-auto flex flex-col px-5 py-12 justify-center items-center">
		<div class="">
			<img src="{{ asset('logo/main.png') }}" alt="" class="">
		</div>
		<h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 text-center">Trouvez et partagez gratuitement vos meilleurs spots !</h1>
		<h2 class="title-font text-xl mb-4 font-medium text-gray-900 text-center">Chercher où dormir parmis nos {{totalBivouac|length}} spots à la Réunion. </h2>
		<p class="mb-8 leading-relaxed text-center mb-24 lg:w-2/3">Kickstarter biodiesel roof party wayfarers cold-pressed. Palo santo live-edge tumeric scenester copper mug flexitarian. Prism vice offal plaid everyday carry. Gluten-free chia VHS squid listicle artisan.</p>
		<div class="flex flex-wrap justify-center w-auto mx-auto bg-white rounded-xl px-4 pt-2 pb-4 mb-6">			
			<div class="flex px-3 mt-2"><img src="{{asset('galerie/auberge.png')}}" alt="" class="w-5 h-5"><span class="px-1 text-sm">Auberge de jeunesse</span></div>
			<div class="flex px-3 mt-2"><img src="{{asset('galerie/bivouac.png')}}" alt="" class="w-5 h-5"><span class="px-1 text-sm">Bivouac</span></div>
			<div class="flex px-3 mt-2"><img src="{{asset('galerie/camping.png')}}" alt="" class="w-6 h-6"><span class="px-1 text-sm">Camping</span></div>
			<div class="flex px-3 mt-2"><img src="{{asset('galerie/gites.png')}}" alt="" class="w-5 h-5"><span class="px-1 text-sm">Gites</span></div>
			<div class="flex px-3 mt-2"><img src="{{asset('galerie/geo.png')}}" alt="" class="w-5 h-5"><span class="px-1 text-sm">Géolocalisation</span></div>
		</div>
	  <div class="xl:w-3/6 lg:w-5/6  w-full mb-10 object-cover object-center rounded shadow-lg z-10" id="mapid"></div>
	  <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
		
		
		<div class="flex w-full justify-center items-end">
		{{ form_start(form, { 'attr': {'class': 'w-full md:w-3/4 xl:w-1/2'} }) }}
		  <div class="relative mr-4 w-full text-left">
			<label for="hero-field" class="leading-7 text-sm text-gray-600">Recherche par môts clés</label>
			<div class="">{{form_row(form.mots)}}</div>
			<div class="mt-2">{{form_row(form.categorie)}}</div>
		  </div>
		  <div class="inline-flex text-white bg-green-400 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg mt-4">{{form_row(form.Rechercher)}}</div>
		{{ form_end(form) }}
		</div>
		<div class="flex mt-8">
			<a href="{{ path('bivouacs_liste') }}">
				<button class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none">
					<img class="w-9 h-9" src="galerie/HomeSearch.png" alt="">
					<span class="ml-4 flex items-start flex-col leading-none">
					
					<span class="title-font font-medium">Recherche avancée</span>
					</span>
				</button>
			</a>
			{% if app.user %}
			<a href="{{ path('users_bivouacs_ajout') }}">
			{% else %}
			<a href="{{ path('app_login') }}">
			{% endif %}
				
				<button class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center ml-4 hover:bg-gray-200 focus:outline-none">
					<img class="w-9 h-9" src="galerie/homeAdd.png" alt="">
					<span class="ml-4 flex items-start flex-col leading-none">
					
					<span class="title-font font-medium">Proposer un spot</span>
					</span>
				</button>
			</a>
		</div>
	  </div>
	</div>
  </section>

<section class="text-gray-600 body-font">
	
<div class="container px-8 pb-12 mx-auto flex flex-wrap lg:px-20" id="content">
			
	<div class="flex flex-wrap w-full">		
	{% for bivouac in bivouacs %}
		<div class=" w-full xl:w-1/3 md:w-1/2 p-1 md:p-4 lg:p-6">
		  <div class="bg-gray-100 p-4  rounded-lg">
			
			<img class="h-40 md:h-48 rounded w-full object-cover object-center mb-2" src="uploads/{{bivouac.images[0].name}}" alt="{{bivouac.title}}">
			{% for region in bivouac.regions %}
				<a class="inline-flex items-center h-8 px-2 m-1 text-xs text-white transition-colors duration-150 bg-green-500 rounded-lg focus:shadow-outline hover:bg-green-600 float-right" href="#">{{region.name}}</a>
          	{% endfor %}
			<h3 class="tracking-widest text-green-500 text-md font-semibold font-medium title-font mb-3">{{bivouac.categories.name}}</h3>
			
			
			<div class="h-20">
			{% for tag in bivouac.tags %} 
				<a class="inline-flex items-center h-5 px-2 m-1 text-xs text-black transition-colors duration-150 bg-gray-300 rounded-lg focus:shadow-outline hover:bg-gray-600" href="#">{{tag.name}}</a>             
          	{% endfor %}
			
			</div>


			<h2 class="text-lg text-gray-900 font-medium title-font mb-4 h-12"><a href="{{path('bivouacs_details', {slug : bivouac.slug})}}">{{bivouac.title|u.truncate(35, '..')}}</a></h2>
			{# Attention la description est en html, on met le filtre striptags pour y remedier et si l'annonce est trop longue on limite le nombre de caractere on parametre avec twig string extra #}
			<p class="leading-relaxed h-20 text-sm">{{bivouac.content|striptags|u.truncate(80, '...')}}</p>
			<div class="text-green-600">		
				{% if is_granted("ROLE_USER") %}
					{% for favoris in bivouac.favoris %}
						{% if favoris.id == app.user.id %}
						<a href="{{path('bivouacs_retrait_favoris', {id: bivouac.id})}}">
							<i class="fas fa-heart"></i>
						</a>
						{% else %}
						<a href="{{path('bivouacs_ajout_favoris', {id: bivouac.id})}}">
							<i class="far fa-heart"></i>
						</a>	
						{% endif %}
					{% else %}
						<a href="{{path('bivouacs_ajout_favoris', {id: bivouac.id})}}">
							<i class="far fa-heart"></i>
						</a>
					{% endfor %}
				{% else %}
					<i class="far fa-heart"></i>	
				{% endif %}
				<a class="float-right" href="{{path('bivouacs_details', {slug : bivouac.slug})}}">Lire plus...</a>
			</div>
			
		  </div>
		</div>
	{% endfor %}
		
	</div>
	  <div class="flex flex-wrap w-full mx-auto mt-24 justify-items-center">
		{% if is_granted("ROLE_USER") %}

		<h2 class="text-2xl font-bold uppercase w-full text-center my-5 items-center">Mes favoris :</h2>

		
			{% for bivouac in totalBivouac %}
			
				{% for favoris in bivouac.favoris %}
							{% if favoris.id == app.user.id %}
							<a class="w-full md:w-1/2 xl:w-1/3 mx-auto my-6 justify-center" href="{{path('bivouacs_details', {slug : bivouac.slug})}}">
							<div class="flex-row bg-white border-2 border-gray-300 p-1 rounded-md tracking-wide shadow-lg mx-4">
								<div id="header" class="flex items-center"> 
								<img alt="{{bivouac.title}}" class="w-24 rounded-xl border-2 border-gray-300" src="uploads/{{bivouac.images[0].name}}" />
								<div id="header-text" class="leading-5 ml-6 sm">
									<h4 class="text-xl font-semibold">{{bivouac.title|u.truncate(30, '...')}}</h4>
									<h5 class="font-semibold text-green-600">{{bivouac.categories.name}}</h5>
									{% for region in bivouac.regions %}
										<h5 class=" text-green-400">{{region.name}}</h5>
									{% endfor %}
								</div>
								</div>
							</div>
							</a>
							
							{% endif %}				
				{% endfor %}
			{% endfor %}
		{% endif %}
	   </div>
	</div>
	
  </section>


   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
   <script src="{{ asset('js/Control.FullScreen.js') }}"></script>

   <script>
		//On crée la carte et on met la longétude de départ
		var mymap = L.map('mapid', {
			fullscreenControl: true,
			fullscreenControlOptions: {
				position: 'topright',
				content: '<img src="{{ asset("galerie/fullscreen.png") }}" class="p-1">'
			}
		}).setView([ -21.154959,55.454865], 10);
		
		var marker;

		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		maxZoom: 18,
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1,
		accessToken: 'pk.eyJ1IjoicGpzZWJhc3RpZW4iLCJhIjoiY2tyYWFxYWJzNGUxMTJucWhscjJ1ZWdneiJ9.HLu0xVDeAIdZCp8a_bX3QA'
		}).addTo(mymap);

		

		

		var markers = L.markerClusterGroup();

		// Bouton géolocalisation 

		var geolocButton = L.control({position: 'topleft'});
		geolocButton.onAdd = (mapRef) => {
			var button = L.DomUtil.create('button', 'geoloc-button')
			button.innerHTML = '<img class="h-8" src="galerie/geo.png"/>'
			button.onclick = () => {
				mapRef.locate();
				button.disabled= true;
				mapRef.on('locationfound', (locEvent) => {
					var radius = locEvent.accuracy 
					var point = locEvent.latlng
					mapRef.setView(point, 14)
					button.disabled = false
					L.circle(point, radius).addTo(mapRef).bindPopup('Vous êtes ici !').openPopup()
				})
				mapRef.on('locationerror', (err) => {
					button.disabled = false;
				})
			}
			return button;
		}
		geolocButton.addTo(mymap)


		


		


		//Get marker from DB

	
		let xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = () => {
                // La transaction est terminée ?
                if(xmlhttp.readyState == 4){
                    // Si la transaction est un succès
                    if(xmlhttp.status == 200){
                        // On traite les données reçues
                        let donnees = JSON.parse(xmlhttp.responseText)
                        
                        // On boucle sur les données (ES8)
                        Object.entries(donnees).forEach(bivouac => {
							// console.log(bivouac);
                            
							if(bivouac[1].lat != null && bivouac[1].lon != null){
								if(bivouac[1].categorie === "Bivouac"){
									var icone = L.icon({
									iconUrl : "galerie/bivouac.png",
									iconSize : [30, 30],
									iconAnchor: [15, 30],
									popupAnchor: [0, -30]
								})

								}else if(bivouac[1].categorie === "Auberge de jeunesse") {
									var icone = L.icon({
									iconUrl : "galerie/auberge.png",
									iconSize : [30, 30],
									iconAnchor: [15, 30],
									popupAnchor: [0, -30]
								})
								}else if(bivouac[1].categorie === "Camping") {
									var icone = L.icon({
									iconUrl : "galerie/camping.png",
									iconSize : [30, 30],
									iconAnchor: [15, 30],
									popupAnchor: [0, -30]
								})
								}else if(bivouac[1].categorie === "Gites") {
									var icone = L.icon({
									iconUrl : "galerie/gites.png",
									iconSize : [30, 30],
									iconAnchor: [15, 30],
									popupAnchor: [0, -30]
								})
								}else {
									var icone = L.icon({
									iconUrl : "galerie/icon.png",
									iconSize : [30, 30],
									iconAnchor: [15, 30],
									popupAnchor: [0, -30]
								})
								}
								
								
								
								let marker = L.marker([bivouac[1].lat, bivouac[1].lon], {icon: icone})
                            	marker.bindPopup("<div class='flex flex-col text-center'><span class='mt-2 uppercase text-gray-600 font-semibold '>"+bivouac[1].title+ "</span><span class='tracking-widest text-green-500 text-xs font-medium title-font mb-3'>"+bivouac[1].categorie+"</span><a class='inline-flex items-center h-8 px-2 uppercase text-white transition-colors duration-150 bg-green-500 rounded-lg focus:shadow-outline hover:bg-green-600 text-center pl-6 w-32 mx-auto' style='color:white;' href='https://bivouac974.herokuapp.com/bivouacs/details/"+bivouac[1].slug+"'>Voir le spot</a><a class='inline-flex items-center h-8 px-2 uppercase text-white transition-colors duration-150 bg-green-500 rounded-lg focus:shadow-outline hover:bg-green-600 text-center pl-2 w-36 mx-auto mt-2' style='color:white;'  href='http://google.com/maps/?q="+bivouac[1].lat+","+bivouac[1].lon+"' target='blank'>coordonnées GPS</a></div>"
								);
								markers.addLayer(marker);
								mymap.addLayer(markers);

							}
                            
                        })
                    }else{
                        console.log(xmlhttp.statusText);
                    }
                }
            }

            xmlhttp.open("GET", "https://bivouac974.herokuapp.com/api");
            xmlhttp.send(null);
			markers.addLayer(marker);
			mymap.addLayer(markers);
			
		

		
   </script>
	
{% endblock %}
