{% extends 'base.html.twig' %}
{% block title %}{{bivouac.title}}{% endblock %}
{% block body %}



    {% for image in bivouac.images %}
        <div class="caroulix-item">
            <img src="{{asset('uploads/' ~ image.name )|imagine_filter('carousel')}}" alt="{{bivouac.title}}" />
        </div>
        
    {% endfor %}
    
    

<div class="container ">
    
		<div class="">
			
			<div class="flex fx-col fx-grow">
				<div class="card-header">{{bivouac.title}}</div>
				<div class="card-content">
                    <p>{{bivouac.categories.name}}</p>

                    {# Attention la description est en html, on met le filtre striptags pour y remedier et si l'annonce est trop longue on limite le nombre de caractere on parametre avec twig string extra #}
					<p>{{bivouac.content|striptags}}</p>
				</div>
			</div>
		</div>

</div>
	
{% endblock %}

{% block javascript %}

<script>
    let caroulix = new Axentix.Caroulix('#example-caroulix');
</script>

{% endblock %}
