{% extends 'base.html.twig' %}

{% block title %}Gérer les catégories{% endblock %}

{% block body %}
<h1>Gérer les catégories</h1>
    <a href="{{ path('admin_categories_ajout')}}" class="btn shadow-1 rounded-1 blue" >Ajouter une catégorie</a>

<div class="responsive-table">
    <table class="table striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Parent</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          {% for categorie in categories %}
            <tr>
                <td>{{categorie.id}}</td>
                <td>{{categorie.name}}</td>
                <td>{{categorie.name}}</td>
                <td class="text-center">
                    <a href="{{ path('admin_categories_modifier', {id: categorie.id})}}" class="btn shadow-1 rounded-1 blue" >Modifier</a>
                </td>
                
            </tr>
              
          {% endfor %}
        
      </tbody>
    </table>
  </div>


{% endblock %}
