<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    {# <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css"
    /> #}
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
  </head>
  <body class="">
    <header x-data="{ mobileMenuOpen : false }" class="flex flex-wrap flex-row justify-between md:items-center md:space-x-4 bg-white py-1 px-6 relative">
      <a href="{{ path('app_home') }}" class="block">
          <span class="sr-only">Super Bivouac Runaaa</span>
          <img class="h-20 md:h-24" src="/logo/main.png" alt="bivouac 974 logo" title="Bivouac">
      </a>
      <button @click="mobileMenuOpen = !mobileMenuOpen" class="inline-block md:hidden w-8 h-8 bg-gray-200 text-gray-600 mt-5">
        <svg fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
      <nav class="absolute md:relative top-16 left-0 md:top-0 z-20 md:flex flex-col md:flex-row md:space-x-6 font-semibold w-full md:w-auto bg-white shadow-md rounded-lg md:rounded-none md:shadow-none md:bg-transparent p-6 mt-8 md:p-0 md:mt-0"
      :class="{ 'flex' : mobileMenuOpen , 'hidden' : !mobileMenuOpen}"  @click.away="mobileMenuOpen = false"
      >
          <a href="{{ path('app_home') }}" class="block py-1 text-gray-600 hover:underline" >Accueil</a>
          <a href="{{ path('users') }}" class="block py-1 text-gray-600 hover:underline" >Profil</a>
          <a href="{{ path('app_login') }}" class="block py-1 text-gray-600 hover:underline" >Login</a>
          <a href="{{ path('admin_categories_ajout') }}" class="block py-1 text-gray-600 hover:underline" >Ajout Cat</a>
          <a href="{{ path('admin_categories_home') }}" class="block py-1 text-gray-600 hover:underline" >Admin Cat</a>
          <a href="{{ path('users_bivouacs_ajout') }}" class="block py-1 text-gray-600 hover:underline" >Ajout bivouac</a>
          <a href="{{ path('admin_bivouacs_home') }}" class="block py-1 text-gray-600 hover:underline" >Admin bivouac</a>
      </nav>
  </header>


      {% block body %}{% endblock %}
    

    <footer class="footer primary">
      Copyright © 2019 - Sébastien Pierrejean
    </footer>

    
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    
    <script src="{{ asset('js/scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </body>
</html>
