{% extends 'base.html.twig' %}

{% block title %}Ajouter un bivouac{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
{% endblock %}

{% block body %}

    

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-gray-50 overflow-hidden shadow-sm sm:rounded-lg">
                <div class="p-6 bg-green-50 border-b border-gray-200">
                    <h1 class="text-center font-bold text-xl uppercase text-gray-600 mb-6">Ajouter un bivouac : </h1>
                    {{ form_start(form) }}
                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Titre du bivouac <span class="text-red-500">*</span></label></br>
                        {{form_row(form.title)}}
                    </div>
                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Catégorie <span class="text-red-500">*</span></label><br>
                        {{form_row(form.Categories)}}
                    </div>
                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Envoyer un lien GPS </label><br>
                        {{form_row(form.gps)}}
                    </div>
                    
                    <div class="mb-4">
                        <label class="text-xl text-gray-600 text-center">Ou sélectionner sur la carte </label><br>
                        <div class="w-full" id="mapid"></div>
                    </div>
                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Latitude </label><br>
                        {{form_row(form.lat)}}
                    </div>
                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Longitude </label><br>
                        {{form_row(form.lon)}}
                    </div>
                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Description <span class="text-red-500">*</span></label><br>
                        {{form_row(form.content)}}
                    </div>
                    <div class="mb-4 ">
                        <label class="text-xl text-gray-600">Sélectionner les services disponibles <span class="text-red-500">*</span></label><br>
                            <div class="pr-3">{{form_row(form.tags)}}</div>
                    </div>
                    <div class="mb-4 ">
                        <label class="text-xl text-gray-600">Sélectionner une région <span class="text-red-500">*</span></label><br>
                        {{form_row(form.regions)}}
                    </div>

                    <div class="grid grid-cols-1 mb-4">
                        <label class="text-xl text-gray-600">Sélectionner une ou des photos <span class="text-red-500">*</span></label><br>
                          <div class="flex items-center justify-center w-full">
                              <label class="flex flex-col border-4 border-dashed w-full h-32 hover:bg-gray-100 hover:border-green-300 group">
                                  <div class="flex flex-col items-center justify-center pt-7">
                                    <svg class="w-10 h-10 text-green-400 group-hover:text-green-600" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                                    <p class="lowercase text-sm text-gray-400 group-hover:text-green-600 pt-1 tracking-wider">Select a photo</p>
                                  </div>
                                <div class="hidden">{{form_row(form.images)}}</div>
                            </label>
                              
                          </div>
                      </div>
                    
                    
                    
                    
                    
                    {{form_row(form.Valider)}}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script>
    var mymap = L.map('mapid').setView([ -21.154959,55.454865], 10);
    let marqueur;
    

		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		maxZoom: 18,
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1,
		accessToken: 'pk.eyJ1IjoicGpzZWJhc3RpZW4iLCJhIjoiY2tyYWFxYWJzNGUxMTJucWhscjJ1ZWdneiJ9.HLu0xVDeAIdZCp8a_bX3QA'
		}).addTo(mymap);
        mymap.on('click', mapClickListen)

        var geolocButton = L.control({position: 'topleft'});
		geolocButton.onAdd = (mapRef) => {
			var button = L.DomUtil.create('button', 'geoloc-button')
			button.innerHTML = '<img class="h-8" src="/galerie/geo.png"/>'
			button.onclick = () => {
				mapRef.locate();
				button.disabled= true;
				mapRef.on('locationfound', (locEvent) => {
					var radius = locEvent.accuracy 
					var point = locEvent.latlng
					mapRef.setView(point, 14)
					button.disabled = false
					L.circle(point, radius).addTo(mapRef).bindPopup('Vous êtes ici !').openPopup()
				})
				mapRef.on('locationerror', (err) => {
					button.disabled = false;
				})
			}
			return button;
		}
		geolocButton.addTo(mymap)


function mapClickListen(e) {
        // On récupère les coordonnées du clic
        pos = e.latlng
        console.log(pos);

        // On crée un marqueur
        addMarker(pos)

        // On affiche les coordonnées dans le formulaire
        document.querySelector("#bivouacs_lat").value=pos.lat
        document.querySelector("#bivouacs_lon").value=pos.lng
}

function addMarker(pos){
    // On vérifie si le marqueur existe déjà
    if (marqueur != undefined) {
        // Si oui, on le retire
        mymap.removeLayer(marqueur);
    }

    // On crée le marqueur aux coordonnées "pos"
    marqueur = L.marker(
        pos, {
            // On rend le marqueur déplaçable
            draggable: true
        }
    )

    // On ajoute le marqueur
    marqueur.addTo(mymap)
}

function addMarker(pos){
    // On vérifie si le marqueur existe déjà
    if (marqueur != undefined) {
        // Si oui, on le retire
        mymap.removeLayer(marqueur);
    }

    // On crée le marqueur aux coordonnées "pos"
    marqueur = L.marker(
        pos, {
            // On rend le marqueur déplaçable
            draggable: true
        }
    )

    // On écoute le glisser/déposer et on met à jour les coordonnées
    marqueur.on('dragend', function(e) {
        pos = e.target.getLatLng();
        document.querySelector("#lat").value=pos.lat;
        document.querySelector("#lon").value=pos.lng;
    });

    // On ajoute le marqueur
    marqueur.addTo(mymap)
}


</script>
    

{% endblock %}