{% extends 'base.html.twig' %} 
{% block title %}Profil de {{ app.user.firstname }} {{ app.user.name }}{%
endblock %} 

{% block body %}

<div class="">
    <div class='flex  md:w-3/4 lg:w-3/5 my-10 bg-white shadow-md rounded-lg overflow-hidden mx-auto'>
        {% for message in app.flashes('message') %}
        <div class="col-xs4">
            <div class="p-3 my-2 rounded-2 success">{{message}}</div>
        </div>   
        {% endfor %}
        <div class='flex items-center w-full'>
            <div class='w-full'>
                <div class="flex flex-row flex-wrap mt-2 px-2 py-3 mx-3">
                    <div class="w-1/6 h-auto rounded-full">
                        <img class="w-16 lg:w-20 h-16 lg:h-20 object-cover rounded-full shadow cursor-pointer mx-auto" alt="Profile-user" src="{{asset('galerie/profile-user.png')}}">
                    </div>
                    <div class="w-4/6 flex flex-col mb-2 ml-4 mt-1">
                        <div class='text-gray-600 text-xl font-bold uppercase'>Profil de {{ app.user.firstname }} {{ app.user.name }}</div>
                        
                    </div>
                </div>
                <div class="border-b border-gray-100"></div>

     
                <div class='text-gray-400 font-medium text-sm mb-7 mt-6 mx-3 px-2'>
                    {% if (app.user.categories|length * 5) < 10 %}
                    <img class="rounded-full mx-auto border-4 w-64 " alt="user" src="{{asset('galerie/novice.png')}}">
                    <p class="text-center text-xl mt-2">Grade : Novice !</p>
                    {% elseif (app.user.categories|length * 5) < 20 %}                       
                    <img class="rounded-full mx-auto border-4 w-64 " alt="user" src="{{asset('galerie/marcheur.png')}}">
                    <p class="text-center text-xl mt-2">Grade : Marcheur !</p>
                    {% elseif (app.user.categories|length * 5) < 35 %}                       
                    <img class="rounded-full mx-auto border-4 w-64 " alt="user" src="{{asset('galerie/randonneur.png')}}">
                    <p class="text-center text-xl mt-2">Grade : Randonneur !</p>
                    {% elseif (app.user.categories|length * 5) > 34 %}
                    <img class="rounded-full mx-auto border-4 w-64 " alt="user" src="{{asset('galerie/trailer.png')}}">
                    <p class="text-center text-xl mt-2">Grade : Trailer !</p>
                    {% endif %}
                    <p class="text-center text-xs mt-2">Vous avez {{app.user.categories|length * 5}} points.</p>
                    <p class="text-center text-xs mt-2">( Publier des spots pour monter en grade.)</p>                    
                </div>
                <div class='text-gray-600 font-semibold my-10 mx-3 px-2'>
                    <div class="">Nom : {{ app.user.name }}</div>
                    <div class="">Prénom : {{ app.user.firstname }}</div>
                    <div class="">Email : {{ app.user.Email }}</div>

                    <div class="my-5">
                        <a href="{{path('users_profil_modifier')}}" class="inline-flex items-center h-8 px-2 m-1 text-xs text-white transition-colors duration-150 bg-green-500 rounded-lg focus:shadow-outline hover:bg-green-600">Modifier le profil</a>
                        <a href="{{path('users_pass_modifier')}}" class="inline-flex items-center h-8 px-2 m-1 text-xs text-white transition-colors duration-150 bg-green-500 rounded-lg focus:shadow-outline hover:bg-green-600">Modifier le mot de passe</a>
                    </div>
                </div>
                
                <div class="flex justify-start my-2 border-t border-gray-100">
                    <div class="flex flex-wrap w-full mx-auto justify-items-center">
                        {% if is_granted("ROLE_USER") %}
                        <h2 class="text-2xl font-bold uppercase w-full text-center my-5 items-center">Mes favoris :</h2>
                            {% for bivouac in totalBivouac %}
                                {% for favoris in bivouac.favoris %}
                                            {% if favoris.id == app.user.id %}
                                            <a class="w-full md:w-1/2 xl:w-1/3 mx-auto my-6 justify-center" href="{{path('bivouacs_details', {slug : bivouac.slug})}}">
                                            <div class="flex-row bg-white border-2 border-gray-300 p-1 rounded-md tracking-wide shadow-lg mx-4">
                                                <div id="header" class="flex items-center"> 
                                                <img alt="{{bivouac.title}}" class="w-24 rounded-xl border-2 border-gray-300" src="{{asset('uploads/' ~ bivouac.images[0].name )|imagine_filter('square')}}" />
                                                <div id="header-text" class="leading-5 ml-6 sm">
                                                    <h4 class="text-xl font-semibold">{{bivouac.title}}</h4>
                                                    <h5 class="font-semibold text-green-600">{{bivouac.categories.name}}</h5>
                                                    {% for region in bivouac.regions %}
                                                        <h5 class=" text-green-400">{{region.name}}</h5>
                                                    {% endfor %}
                                                </div>
                                                </div>
                                            </div>
                                            </a>
                                            
                                            {% endif %}				
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                    <div class="flex flex-wrap w-full mx-auto justify-items-center">
                        {% if is_granted("ROLE_USER") %}
                        <h2 class="text-2xl font-bold uppercase w-full text-center my-5 items-center">Mes bivouacs ({{app.user.categories|length}}) :</h2>
                            {% for bivouac in app.user.categories %}
                                            <a class="w-full md:w-1/2 xl:w-1/3 mx-auto my-6 justify-center" href="{{path('bivouacs_details', {slug : bivouac.slug})}}">
                                            <div class="flex-row bg-white border-2 border-gray-300 p-1 rounded-md tracking-wide shadow-lg mx-4">
                                                <div id="header" class="flex items-center"> 
                                                <img alt="{{bivouac.title}}" class="w-24 rounded-xl border-2 border-gray-300" src="{{asset('uploads/' ~ bivouac.images[0].name )|imagine_filter('square')}}" />
                                                <div id="header-text" class="leading-5 ml-6 sm">
                                                    <h4 class="text-xl font-semibold">{{bivouac.title|u.truncate(30, '...')}}</h4>
                                                    <h5 class="font-semibold text-green-600">{{bivouac.categories.name}}</h5>
                                                    {% for region in bivouac.regions %}
                                                        <h5 class=" text-green-400">{{region.name}}</h5>
                                                    {% endfor %}
                                                </div>
                                                </div>
                                            </div>
                                            </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                   
                    
                
                
            </div>
        </div>
    </div>
</div>


{% endblock %}
